body {
  background-color: #eeeeee;
  margin-left:20px;
}

h1{
    color:#112d4eb;
    font-family: 'Ubuntu', sans-serif;
}

h3{
    color:#393e46;
}

hr{
    width: 5%;
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:5px;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

td{
    font-family: 'Ubuntu', sans-serif;
}

li{
    font-family: 'Ubuntu', sans-serif;
}

label{
    font-family: 'Ubuntu', sans-serif;
}

img{
    border-radius: 50%;
}
